#contact {
  width: 100%;
  max-width: var(--page-width);
  margin: auto;
  padding: 0 var(--page-gutter);
}

#contact img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5em;
}

#contact a {
  color: inherit;
  text-decoration: underline;
}
